{%extends "layout.html" %}
{% block content %}
    <style class="dev">
        h3{
            color:white;

        }
        h2{
            color:yellow;

        }
    </style>
    <div class="jumbotron mb-4 c">
        
        <h2>Visit Us at:</h2>>
        <h3> 15/D New Link Road ,Malad,Evershine Nagar Mumbai-400064</h3>

    </div>
    <div class="jumbotron mb-4 d">
        
            <h2>Visit Us at:</h2>>
            <h3> 15/D New Link Road ,Malad,Evershine Nagar Mumbai-400064</h3>
    
        </div>
    



{% endblock %}