<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Restro</title>


</head>


<body >
  <h>Welcome to Restro</h>>
   
    <div >
              
       
     
          <pre>

            At Restro, we believe in everything at its prime. And that change is good for the palate. 

            Unexpected flavors forged from nature and mingled with flourish. Vibrant herbs grown as close to home 
                          as it gets (they’re from the rooftop garden). The freshest ingredients 
                                      responsibly sourced both near and far. 

             This is modern bistronomy—casual fine dining where experimentation becomes the everyday. 
                                      Experience cuisine that’s constantly evolving in a setting that’s forever inviting. 

          </pre>
        </div>
    
    <div  style="text-align:center;">
    
      <a href={{url_for('customer_home')}}><button type="button" class="btn btn-primary btn-lg btn-block" >Enter</button></a>
           
    </div>
          
        
    
</body>
</html>