<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Restro</title>


</head>


<body >
   
    <div >
              
       
          <h1 style="color: yellowgreen;">Welcome to this website</h1>
          <pre>

              Content or intro

          </pre>
        </div>
    
    <div  style="text-align:center;">
    
      <a href={{url_for('customer_home')}}><button type="button" class="btn btn-primary btn-lg btn-block" >Click here if you are a customer</button></a>
           
    </div>
          
        
    
</body>
</html>